html{
    background-color: rgba(255, 7, 7, 0.623);
    font-family: 'Segoe UI';
    text-align: justify;
    width: fit-content;
    height: fit-content;
}
img{
    width: 500px;
    height: 450px;
    border: white;
    border-style: solid;
    border-width: 2px;

}
ol{
    font-size: large;
    font-weight: bolder;
}
a:link{
    color: aliceblue;
}
a:visited{
    color:rgb(165, 161, 161)
}
.text{
    background-color: rgba(255, 255, 255, 0.281);
    width: 500px;
    border: rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
    letter-spacing: 1px;
}
